
.windows {
    /*height: calc(100% - 30px); /*tabbar*/
    width: 100%;
}

.window {
    /*height: 100%;*/
    /*height: calc(100% - 25px);*/
    position: absolute;
    top: 25px;
    bottom: 0;
    width: 100%;
}

.window > * {
    width: 100%;
}

.content {
    top: 0;
    bottom: 25px;
    position: absolute;
}

.ircwindow .content {
    bottom: 49px;
}

.content > * {
    top: 0;
    height:100%;
}

.channel .content {
    top: 14px;
}

/*otherwise 100%*/
.channel .leftpanel {
    position: absolute;
    left: 0;
    right: 141px;
}


.ircwindow .rightpanel {
    position: absolute;
    right: 0;
}

.qui .properties {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.ircwindow .properties {
    bottom: 23px;
}

.bottompanel {
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* .detached.windows {
    position:absolute;
} */


.attach, .detach, .tab-close, .resize-handle {
    cursor: pointer;
}


.detached-window {
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 5px solid #800000;
    z-index: 2;
}

.detached-window.active {
    z-index: 10;
}


.header {
    padding: 4px 0;
    background-color: #FAFAFA;
}

.header .attach, .header .tab-close {
    float:right;
}

.header .title {
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
}

.resize-handle {
    margin: -35px -5px 0 0;
    padding: 0 5px 5px 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.tabbar .detach, .tabbar .tab-close {
    vertical-align: middle;
    padding-bottom: 3px;
    display: inline-block;
}


/*hacky table no ie8- support*/
/* .tf-middle {
  height:100%;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    position: relative;
    overflow: hidden;
    display:table;
    margin: 0 auto;
}*/


/* The ghost, nudged to maintain perfect centering */
/* .tf-middle:before {
  content: '';
  display: inline-block;
  height: 20%;
  margin-right: -0.25em;
} 
*/

.handle {
    z-index: 2;
    position: absolute;
    background-repeat: no-repeat;
    margin: auto;
}

.handle.vertical {
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    z-index: 10;
}

.handle.horizontal {
    height: 10px;
    cursor: row-resize;
    left: 0;
    right: 0;
    z-index: 10;
}







/* Created by Arian Stolwijk <http://www.aryweb.nl> */
/* Dialog styles */
.MooDialog {
    position: fixed;
    width: 300px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    padding: 10px;
    z-index: 50000;

    background: #eef5f8;
    color: black;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

.MooDialogTitle {
    padding-top: 30px;
}

.MooDialog .content {
    height: 100px;
}

.MooDialog .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3px 20px;

    background: #b7c4dc;
    border-bottom: 1px solid #a1aec5;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    color: black;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.MooDialog .close {
    position: absolute;
    width: 16px;
    height: 16px;
    top: -5px;
    left: -5px;

    background: url(dialog-close.png) no-repeat;
    display: block;
    cursor: pointer;
}

.MooDialog .buttons {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    text-align: right;
}

.MooDialog .iframe {
    width: 100%;
    height: 100%;
}

.MooDialog .textInput {
    width: 200px;
    float: left;
}

.MooDialog .MooDialogAlert,
.MooDialog .MooDialogConfirm,
.MooDialog .MooDialogPrompt,
.MooDialog .MooDialogError {
    padding-left: 40px;
    min-height: 40px;
    background: url(dialog-warning.png) no-repeat;
}

.MooDialog .MooDialogConfirm,
.MooDialog .MooDialogPrompt {
    background: url(dialog-question.png) no-repeat;
}

.MooDialog .MooDialogError {
    background: url(dialog-error.png) no-repeat;
}
