html {
	height: 100%;
}
body {/* 
	font-family: crete-round, serif; */
	height:100%;
}

#tf-classlist li {

}

ul#tf-classlist span.tf-class {
	font-weight: bold;
	font-size: 140%;
}

.tf-players span {
	margin: 0 5px;
}

/*hacky table no ie8- support*/
.tf-middle {
	height:100%;
  	/*text-align: center;
  	vertical-align: middle;*/
  	text-align: center;
  	position: relative;
  	overflow: hidden;
  	display:table;
  	margin: 0 auto;
}

.tf-middle > * {
	top: 50%;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	position: static;
}
 
/* The ghost, nudged to maintain perfect centering */
/* .tf-middle:before {
  content: '';
  display: inline-block;
  height: 20%;
  margin-right: -0.25em;
} 
*/
.tf-middle form {
	display: inline-block;
}

.hidden {
	display: none;
}

form#login div {
	width:375px;
	margin: .5em 0;
}

form#login div > * {
	margin: 0px .2em;
}

form#login .right {
	text-align: right;
}

form#login div:not(.right) {
	margin-left: 30px;
}

form#login input[type="text"], #login input[type="password"] {
	width:200px;
}