/*Highlighting*/

.lines .col0, .colourline .col0 {
    color: white;
}

.lines .col1, .colourline .col1 {
    color: black;
}

.lines .col2, .colourline .col2 {
    color: darkBlue;
}

.lines .col3, .colourline .col3 {
    color: darkGreen;
}

.lines .col4, .colourline .col4 {
    color: red;
}

.lines .col5, .colourline .col5 {
    color: darkRed;
}

.lines .col6, .colourline .col6 {
    color: purple;
}

.lines .col7, .colourline .col7 {
    color: orange;
}

.lines .col8, .colourline .col8 {
    color: yellow;
}

.lines .col9, .colourline .col9 {
    color: green;
}

.lines .col10, .colourline .col10 {
    color: teal;
}

.lines .col11, .colourline .col11 {
    color: cyan;
}

.lines .col12, .colourline .col12 {
    color: blue;
}

.lines .col13, .colourline .col13 {
    color: fuchsia;
}

.lines .col14, .colourline .col14 {
    color: dimGray;
}

.lines .col15, .colourline .col15 {
    color: lightGray;
}

.lines .back0, .colourline .back0 {
    background-color: white;
}

.lines .back1, .colourline .back1 {
    background-color: black;
}

.lines .back2, .colourline .back2 {
    background-color: darkBlue;
}

.lines .back3, .colourline .back3 {
    background-color: darkGreen;
}

.lines .back4, .colourline .back4 {
    background-color: red;
}

.lines .back5, .colourline .back5 {
    background-color: darkRed;
}

.lines .back6, .colourline .back6 {
    background-color: purple;
}

.lines .back7, .colourline .back7 {
    background-color: orange;
}

.lines .back8, .colourline .back8 {
    background-color: yellow;
}

.lines .back9, .colourline .back9 {
    background-color: green;
}

.lines .back10, .colourline .back10 {
    background-color: teal;
}

.lines .back11, .colourline .back11 {
    background-color: cyan;
}

.lines .back12, .colourline .back12 {
    background-color: blue;
}

.lines .back13, .colourline .back13 {
    background-color: fuchsia;
}

.lines .back14, .colourline .back14 {
    background-color: dimGray;
}

.lines .back15, .colourline .back15 {
    background-color: lightGray;
}

.lines .bold, .colourline .bold {
    font-weight: bold;
}

.lines .underline, .colourline .underline {
    text-decoration: underline;
}

.lines .italic, .colourline .italic {
    font-style:italic
}

.lines .warn, .colourline .warn {
    background-color: #ff9090;
}

.lines .info, .colourline .info {
    background-color: #9090ff;
}

.lines .chan-notice, .lines .priv-notice {
    background-color: yellow !important;
    font-weight: bold;
}