/************* OPTIONS *****************/
.qwebirc form.options {
    padding-left: 25px;
    padding-top: 25px;
    overflow-y: scroll;
}

/*********** colour slider ************/
.qwebirc .options .hue-slider {
    border: 0px solid black;
    width: 360px;
    height: 8px;
    background-image: url(../images/hue.png);
    display: inline-block;
    margin-left: 15px;
}
.qwebirc .options .hue-slider .knob {
    width: 8px;
    height: 16px;
    top: -5px;
    opacity: 0.75;
    background: grey;
    border: 1px solid black;
}

/**************** ABOUT PANE *******************/
.qwebirc .about {
    font-size: 1em !important;
}

.qwebirc .about .mainbody {
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}

.qwebirc .about table {
    display: inline-block;
}

.qwebirc .about div.header {
    padding-top: 5px;
}

.qwebirc .about .header {
    background: white;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.qwebirc .about .header .title {
    font-size: 3em;
}

.qwebirc .about .header .subtitle {
    text-align: center;
    margin-top: 10px;
}

.qwebirc .about .skipmargin {
    margin-top: 0px;
}

/**************** PRIVACY POLICY PANE *******************/
.qwebirc .privacypolicy {
    font-size: 1em !important;
}

.qwebirc .privacypolicy .mainbody {
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}

.qwebirc .privacypolicy table {
    display: inline-block;
}

.qwebirc .privacypolicy div.header {
    padding-top: 5px;
}

.qwebirc .privacypolicy .header {
    background: white;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.qwebirc .privacypolicy .header .title {
    font-size: 3em;
}

.qwebirc .privacypolicy .header .subtitle {
    text-align: center;
    margin-top: 10px;
}

.qwebirc .privacypolicy .monospace {
    font-family: Consolas, "Lucida Console", monospace;
}

/****** FEEDBACK ***********/
.qwebirc .feedback {
    font-size: 1em !important;
}

.qwebirc .feedback .mainbody {
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}

.qwebirc .feedback table {
    display: inline-block;
}

.qwebirc .feedback div.header {
    padding-top: 5px;
}

.qwebirc .feedback .header {
    background: white;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.qwebirc .feedback .header .title {
    font-size: 3em;
}

.qwebirc .feedback .header .subtitle {
    text-align: center;
    margin-top: 10px;
}

.qwebirc .feedback .monospace {
    font-family: Consolas, "Lucida Console", monospace;
}

/************* FAQ *****************/
.qwebirc .faq {
    font-size: 1em !important;
}

.qwebirc .faq .mainbody {
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.qwebirc .faq table {
    display: inline-block;
}

.qwebirc .faq div.header {
    padding-top: 5px;
}

.qwebirc .faq .header {
    background: white;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.qwebirc .faq .header .title {
    font-size: 3em;
}

.qwebirc .faq .header .subtitle {
    text-align: center;
    margin-top: 10px;
}

.qwebirc .faq .monospace {
    font-family: Consolas, "Lucida Console", monospace;
}