<div class="channel-list panel panel-default">
    <div class="panel-heading">
        <span class="heading">Channel list</span>
        <div class="filters">
            <label>Filter by topic and name: <input class="filter" type="text"></label>
            <input type="button" class="refresh btn btn-default btn-smaller" value="refresh">
        </div>
    </div>
    <div class="table-responsive">
        <table class="channels table table-striped table-hover">
            <thead>
                <tr>
                    <th>Users</th>
                    <th>Channel</th>
                    <th>Topic</th>
                </tr>
            </thead>
            <tbody>
            {{! content loaded here }}
            </tbody>
        </table>
    </div>
</div>