<div class="container">
  <iframe src="https://docs.google.com/forms/d/1DQUg-DOEMbmqqeCryhMr6t20m2EMSkng28HdWIUm2vM/viewform" width="95%" height="500px"></iframe>
  <input type="button" value="Close" data-event="close" class="btn btn-default btn-small" />
</div>
