{{#each channels}}
    <tr data-channel="{{name}}">
        <td>{{users}}</td>
        <td><input type="button" class="chan btn btn-link btn-smaller" value="{{name}}"></td>
        <td>{{{topic}}}</td>
    </tr>
{{/each}}