@select-width: 200px;

.qwebirc .custom {
    //generics
    .container {
        text-align: center;
    }

    .header {
        background: white;
        text-align: center;
        border-bottom: 1px solid gray;
        padding-top: 5px;
        padding-bottom: 5px;

        .subtitle {
            text-align: center;
            margin-top: 10px;
        }
    }

    .title {
        font-size: 3em;
    }

    table {
        display: inline-block;
    }
}


//************* OPTIONS *****************
.qwebirc .options {
    padding-left: 25px;
    padding-top: 25px;
    overflow-y: scroll;

    .actions button {
        margin-right: 5px;
    }

    .ui-options {
        .controls {
            padding-bottom: 4px;
        }
        input {
            &.color, &[type="number"] {
                width: 60px;
                float: left;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    .control-label-inline select {
        display: inline;
        width: @select-width; //requires a width to be set :/
        margin: 0 5px;
    }
}

/**************** Channel list *****************/
.qwebirc .channel-list {

    .heading {
        display: inline-block;
        font-size: 18px;
    }
    .filters {
        display: inline-block;
        font-size: 14px;
        float: right;
    }

    .filters label {
        margin-right: 5px;
    }
    table td {
        vertical-align: middle;
    }
}