<div class='detached-window'>
    <div class='header'>
        <span class='title'>{{channel}}</span>
        {{#unless base}}{{> tabClose}}{{/unless}}
        {{> tabAttach}}
    </div>
    <div class="content"></div>
    <div><span class="resize-handle ui-icon ui-icon-grip-diagonal-se"></span></div>
</div>