<div class="detached-window">
    <div>
        <div class="header panel-heading">
            <span class='title'>{{channel}}</span>
            <div class="controls pull-right">
                {{> tabAttach}}
                {{#unless base}}{{> tabClose}}{{/unless}}
            </div>
        </div>
        <div class="body">

        </div>
        <div><span class="resize-handle entypo">&#59202;</span></div>
    </div>
</div>