<div class="image-popover popover fade right in">
    <div class="arrow"></div>
    <h3 class="popover-title" style="display: none;"></h3>
    <div class="popover-content"> 
        <img src="images/loading.gif" class="loading">
        <img src="{{image_url}}" class="payload">
    </div>
</div>