<div class='input'>
    <div class='tt-ahead input-group'>
        <span class='input-group-addon user'><span class='status {{status}}'></span><span class="nickname">{{nick}}</span></span>
        {{!autocompleter}}
        <input class='tt-hint' type='text' autocomplete='off' spellcheck='off' disabled>
        <input class='tt-query input-field form-control' type='text' autocomplete='off' spellcheck='off'>
        <span class='input-group-btn'>
            <button class='btn btn-default send' type='button'>&gt;</button>
        </span>
    </div>
</div>