<div class="main-menu dropdown-tab">
    <img src="images/icon.png" title="menu" alt="menu">
</div>
<div class="tabbar"></div>
<div class="buttons">
    <span class="to-left entypo hidden" name="tabscroll">&#59225;</span>
    <span class="to-right entypo hidden" name="tabscroll">&#59226;</span>
</div>