<div class="main-menu dropdown-tab">
    <img src="images/icon.png" title="menu" alt="menu">
</div>
<div class="tabbar"></div>
<div class="buttons">
    <span class="to-left ui-icon ui-icon-circle-triangle-w hidden" name="tabscroll"></span>
    <span class="to-right ui-icon ui-icon-circle-triangle-e hidden" name="tabscroll"></span>
    <span class="add-chan ui-icon ui-icon-circle-plus" title="Join a channel"></span>
</div>