<div class="window qui" data-id="{{id}}" data-name="{{name}}">
    {{#if isChannel}}{{> topicBar}}{{/if}}
    <div class="qui content">
        <div class="qui leftpanel lines"></div>
        {{#if isChannel}}
            {{#if splitPane}}{{> verticalDivider}}{{/if}}
            <div class="qui rightpanel"></div>
        {{/if}}
    </div>
    <div class="qui properties">
        {{> channelName}}
    </div>
    <div class="qui bottompanel">
        {{#if needsInput}}{{> ircInput}}{{/if}}
    </div>
</div>