<div class="window" data-id="{{id}}" data-name="{{name}}">
    {{#if isChannel}}{{> topicBar}}{{/if}}
    <div class="content">
        <div class="leftpanel lines"></div>
        {{#if isChannel}}
            {{#if splitPane}}{{> verticalDivider}}{{/if}}
            <div class="rightpanel"></div>
        {{/if}}
    </div>
    <div class="properties">
        {{> channelName}}
    </div>
    <div class="bottompanel">
        {{#if needsInput}}{{> ircInput}}{{/if}}
    </div>
</div>