<!DOCTYPE html>
<html lang="en">
<head>

  <!-- build:process -->
    <title><% if(config.network) { %><%= config.network %> <% } %>WebIRC Using QWebirc v<%= pkg.version %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="irc,qwebirc<% if(config.network) { %>,<%= config.network.toLowerCase() %><% } %>">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
  <!-- /build -->
  <!-- build:process -->
    <link href="dist/css/bootstrap-<%= pkg['frontend-dependencies'].twbs.version %>.css" rel="stylesheet">
    <link href="dist/css/qwebirc-<%= suffix %>.css" rel="stylesheet">
  <!-- /build -->
  <!-- build:process -->
    <script src="<%= getFileURL('modules') %>"></script>
    <script src="<%= getFileURL('mootools') %>"></script>
  <!-- /build -->
  <!-- build:script bundle  -->
    <script src="dist/js/plugins-<%= suffix %>.js"></script>
    <script src="dist/js/templates-<%= suffix %>.js"></script>
    <script src="dist/js/qwebirc-<%= suffix %>.js"></script>
  <!-- /build -->

  <!-- build:script inline config -->
    <script src="configure/config.js"></script>
  <!-- /build -->
</head>
<body>
  <div id="ircui">
    <noscript>
      <div id="noscript">
        Javascript is required to use IRC.
      </div>
    </noscript>
  </div>
  <!-- build:process -->
    <%= config.extra_html %>
  <!-- /build -->
</body>
</html>