<form class='input'>
<div>
    <label class='nickname'><span class='status {{status}}'></span>{{nick}}</label>
    <input class='{{type}} input-field' type='text'>
    <input class='input-button' type='button' value='>' />
</div>
</form>